body{
    background-image:url(assets/background.png);
    background-size: 66%;
    background-repeat: no-repeat;
    margin: auto;
    
}

#store
{
    border: solid;
    color: black;
    background-color: black;
    height: 620px;
    width: 430px;
    margin-left: 811px;
    margin-top: -10px;
}