body {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.one {
    background-color: white;
    grid-column: 1 / 7;
    grid-row: 1;
    background-color: black;
    color: white;
    opacity: 0.8;
}

h1:first-child {
    text-align: center;
}

.compteur {
    grid-column: 1;
    grid-row: 5 / 7;
    background-color: white;
    border: solid black 2px;
    margin: 10px;
}

.compteur h3 {
    text-align: center;
    margin: 20px;
}

.compteur p {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-top: 50px;
    margin-right: 5px;
    font-size: 20px;
    overflow: scroll;
}

.donut {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: flex;
}

.donut img {
    width: 80%;
    margin: 0 auto;
}

.push {
    grid-column: 2 / 5;
    grid-row: 5 / 8;
    display: flex;
}

.pushbtn {
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.pushbtn:hover {
    background-color: black;
    color: white;
}

.bonus {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    grid-column: 5;
    grid-row: 2 / 7;
    max-height: 600px
}

.store {
    border: solid;
    background-color: black;
    grid-column: 6;
    grid-row: 2/7;
    display: block;
}

.boxInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
    border-radius: 10px;
    margin: 20px;
    height: 80px;
}

h2 {
    color: black;
    text-align: center;
}

.bonusInfo1,
.bonusInfo2,
.bonusInfo3 {
    width: 102.25px;
    height: 102.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid white 2px;
    padding: 3px;
}

#Buy1,
#Buy2,
#Buy3 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid white 2px;
}

#Buy1:hover,
#Buy2:hover,
#Buy3:hover {
    opacity: 0.5;
}